In [1]:
import pandas as pd

Aprendemos a fórmula geral do método dos mínimos quadrados:

$$\Theta  = (X^{T}\cdot X)^{-1}X^{T}y$$

Porém ela é muito trabalhosa de se calcular na mão. Afinal, inverter uma mátrix nem sempre é uma tarefa fácil. Porém existe uma maneira um pouco mais tranquila de achar os coefiientes angular e linear da reta.

$$b = \frac{\sum_{1}^{n}(x_{i}-\bar{x})(y_{i}-\bar{y})}{\sum_{n}^{1}(x_{i}-\bar{x})^{2}}$$

In [3]:
dados = pd.read_csv('caixa.csv')
dados.head()

   x_volt          y_lm
0      10  -9975.530825
1      12   5533.646693
2      14    761.023172
3      16  20245.782889
4      18   2656.569042

In [6]:
dados['x-x_m'] = dados['x_volt'] - dados['x_volt'].mean()
dados.head()

   x_volt          y_lm  x-x_m
0      10  -9975.530825  -24.0
1      12   5533.646693  -22.0
2      14    761.023172  -20.0
3      16  20245.782889  -18.0
4      18   2656.569042  -16.0

In [7]:
dados['y-ym'] = dados['y_lm'] - dados['y_lm'].mean()
dados.head()

   x_volt          y_lm  x-x_m          y-ym
0      10  -9975.530825  -24.0 -32004.669062
1      12   5533.646693  -22.0 -16495.491544
2      14    761.023172  -20.0 -21268.115065
3      16  20245.782889  -18.0  -1783.355349
4      18   2656.569042  -16.0 -19372.569195

In [12]:
num = dados.apply(lambda data: data['x-x_m'] * data['y-ym'], axis = 1).sum()
den = dados.apply(lambda data: data['x-x_m']**2, axis = 1).sum()
b = num/den
b

870.5937593623144

$$a = \bar{y} - b\bar{x}$$

In [13]:
a = dados['y_lm'].mean() - b*dados['x_volt'].mean()
a

-7571.049580669242