In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [2]:
(10000-1700)/10

830.0

In [3]:
1700-8300

-6600

In [4]:
a = 830
b = -6600
x = np.array(range(10,60,2))
y = a*x+b# lm
y

array([ 1700,  3360,  5020,  6680,  8340, 10000, 11660, 13320, 14980,
       16640, 18300, 19960, 21620, 23280, 24940, 26600, 28260, 29920,
       31580, 33240, 34900, 36560, 38220, 39880, 41540])

In [5]:
e = np.random.randn(len(y)) * 5000

In [6]:
y = a*x + b + e
y

array([-9975.53082461,  5533.64669324,   761.0231722 , 20245.78288869,
        2656.56904228, 17246.19037757,  2837.42623128,  8689.80831247,
       21207.00777995, 15697.89293981, 16974.46543387, 25582.51022088,
       24175.18117692, 33431.58630371, 24261.70410163, 22170.01941869,
       29702.33983333, 33855.43549923, 41328.12565007, 26402.26331032,
       30264.95329974, 36274.40499291, 32701.20676426, 40958.41476386,
       47746.02855895])

In [7]:
dic = {'x_volt':x,'y_lm':y}
dic

{'x_volt': array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
        44, 46, 48, 50, 52, 54, 56, 58]),
 'y_lm': array([-9975.53082461,  5533.64669324,   761.0231722 , 20245.78288869,
         2656.56904228, 17246.19037757,  2837.42623128,  8689.80831247,
        21207.00777995, 15697.89293981, 16974.46543387, 25582.51022088,
        24175.18117692, 33431.58630371, 24261.70410163, 22170.01941869,
        29702.33983333, 33855.43549923, 41328.12565007, 26402.26331032,
        30264.95329974, 36274.40499291, 32701.20676426, 40958.41476386,
        47746.02855895])}

In [8]:
caixa = pd.DataFrame(dic)
caixa

    x_volt          y_lm
0       10  -9975.530825
1       12   5533.646693
2       14    761.023172
3       16  20245.782889
4       18   2656.569042
5       20  17246.190378
6       22   2837.426231
7       24   8689.808312
8       26  21207.007780
9       28  15697.892940
10      30  16974.465434
11      32  25582.510221
12      34  24175.181177
13      36  33431.586304
14      38  24261.704102
15      40  22170.019419
16      42  29702.339833
17      44  33855.435499
18      46  41328.125650
19      48  26402.263310
20      50  30264.953300
21      52  36274.404993
22      54  32701.206764
23      56  40958.414764
24      58  47746.028559

In [9]:
caixa.to_csv('caixa.csv',index=False)